.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-up {
    animation: slide-up 1s ease-out;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-left {
    animation: slide-left 1s ease-out;
  }


.btn {
  --btn-gradient: var(--btn-gradient-from),var(--btn-gradient-to);
  border: 0 none;
  appearance: none;
  border-radius: 9999px;
  background-color: var(--btn-bg);
  box-shadow: 0 0 2px 2px var(--btn-shadow), 0 0 4px 4px var(--btn-shadow), 0 0 8px 8px var(--btn-shadow);
}

.btn,
.btn * {
  box-sizing: border-box;
}

.btn-inner {
  position: relative;
  border-radius: inherit;
  border: 1px solid transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  min-width: 10rem;
  padding: 1.5rem 2rem;
  overflow: hidden;
  color: var(--btn-text-color);
}

.btn-label {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  top: 1px;
  border-radius: inherit;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg);
  background-image: linear-gradient(to bottom,var(--btn-gradient));
}

.btn-blur {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  top: 1px;
  z-index: 0;
  transform: scaleX(3.5);
  filter: blur(6px);
}

.btn-blur:before {
  --gradient: var(--btn-color-from), var(--btn-color), var(--btn-color-to);
  --transition: 5s;
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: conic-gradient(var(--gradient));
  animation: turn var(--transition) linear infinite;
}

.btn:hover,
.btn:active {
  transition: transform .5s ease-in-out 0s;
  transform: translateY(-1px);
}

.btn:active .btn-blur:before {
  --transition: 2s;
}

.btn--primary {
  --btn-bg: #111111;
  --btn-gradient-from: #111111;
  --btn-gradient-to: rgba(255, 255, 255, 0.1);
  --btn-text-color: #ffffff;
  --btn-color: #5f17d4;
  --btn-color-from: #c6a3ff;
  --btn-color-to: #966ed8;
  --btn-shadow: #5f17d42d;
}

@keyframes turn {
  0% {
    transform: translateY(-50%) rotate(0deg)
  }

  to {
    transform: translateY(-50%) rotate(1turn)
  }
}


/* 
.label {
  height: 30px;
  width: 70px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 25px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
} */

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #522ba7;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

